body {
  font-family: 'Cinzel', serif;
  text-align: center;
  margin: 0 auto;
}

.title, .subtitle {
  margin: 0;
  padding: 1.125em 0em;;
}

.title {
  color: #B3000C;
  font-size: 24px;
}

.subtitle {
  color: #00B32C;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  justify-items: center;
  align-items: center;
  padding: 1.3em;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  border-radius: 20px;
}

.calendar-weekday-box {
  list-style: none;
}

.weekday-name {
  margin: 0;
  padding: 0.25em;
  font-size: 1.125rem;
}

.calendar-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #E40010;
  background-color: #D8D8D8;
  color: #E40010;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-day {
  margin: 0;
  text-align: center;
  font-size: 1.125rem;
}

@media (width <= 375px) {
  .calendar-circle {
    width: 35px;
    height: 35px;
  }
  .weekday-name, .calendar-day {
    font-size: 0.6rem;
  }
}